/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Latin Modern Math. This font does not work on Windows (bug 1014498) so we can
   only use a modified WOFF version. */
@font-face {
  font-family: 'Latin Modern Math';
  src: url('LatinModern/latinmodern-math-AscentDescent.woff');
}

/* XITS. This is a fork of STIX with many bugs fixed. */
@font-face {
    font-family: 'XITS Math';
    src: local('XITS Math'), local('XITSMath'), url('XITS/xits-math.woff');
}
