/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Latin Modern Math. */
@font-face {
  font-family: 'Latin Modern Math';
  src: local('Latin Modern Math'), local('LatinModernMath-Regular'), url('LatinModern/latinmodern-math.woff');
}

/* XITS. */
@font-face {
    font-family: 'XITS Math';
    src: local('XITS Math'), local('XITSMath-Regular'), url('XITS/xits-math.woff');
}
