/* -*- Mode: CSS; tab-width: 2; indent-tabs-mode:nil; c-basic-offset: 2 -*- */
/* vim: set ts=2 et sw=2 tw=80: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Reset some CSS properties set by KaTeX and hide the HTML output */
.katex {
    display: inline;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    white-space: normal;
}
.katex .katex-mathml {
    position: static !important;
    clip: auto;
    height: auto !important;
    width: auto !important;
    overflow: visible;
}
.katex .katex-html {
    display: none;
}
